<table>
  <thead>
    <tr>
      <th class="border border-black font-semibold p-4 text-left">Title</th>
      <th class="border border-black font-semibold p-4 text-left">Time</th>
      <th class="border border-black font-semibold p-4 text-left">Value</th>
      <th class="border border-black font-semibold p-4 text-left">MinValue</th>
      <th class="border border-black font-semibold p-4 text-left">MaxValue</th>
      <th class="border border-black font-semibold p-4 text-left">AvgValue</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
      <tr>
        <td class="border border-black p-2">{{ .Title }}</td>
        <td class="border border-black p-2">{{ .Time }}</td>
        <td class="border border-black p-2">{{ .Value }}</td>
        <td class="border border-black p-2">{{ .MinValue }}</td>
        <td class="border border-black p-2">{{ .MaxValue }}</td>
        <td class="border border-black p-2">{{ .AvgValue }}</td>
      </tr>
    {{end}}
  </tbody>
</table>


