<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eco Station: Connected Stations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/output.css">
    <script src="/htmx.min.js"></script>
  </head>
  <body>
    <header class="p-4 bg-blue-400 flex justify-between">
      <div class="space-x-3">
        <a href="/protected/home.html" class="font-semibold text-xl">Eco Station</a>
        <a href="/protected/home.html" class="p-2 border border-gray-200 rounded-md">Queries</a>
        <a href="/protected/connected-stations.html" class="p-2 border border-gray-200 rounded-md">List of connected stations</a>
        <a href="/protected/station-measured.html" class="p-2 border border-gray-200 rounded-md bg-blue-500">Measured from a station</a>
      </div>
      <button class="font-medium text-lg" hx-get="/api/signout">Sign Out</button>
    </header>
    <main class="p-4">
      <h2 class="text-lg font-medium inline">Measured from a station</h2>
      <form class="pt-4" hx-post="/api/measurements" hx-target="#measurements">
        <label class="font-medium">
          Select a station:
          <div hx-get="/api/stations" hx-trigger="load" hx-swap="outerHTML" hx-target="#stations" id="stations"></div>
        </label>
        <h3 class="font-medium mt-4">Select a measurement date range:</h3>
        <div class="flex space-x-4">
          <label class="block font-medium">
            Start Date
            <input type="date" name="start-date" class="mt-1 p-2 w-full border rounded-md" required>
          </label>
          <label class="block font-medium">
            End Date
            <input type="date" name="end-date" class="mt-1 p-2 w-full border rounded-md" required>
          </label>
        </div>
        <button type="submit" class="border rounded-md p-2 bg-gray-300 mt-4">Receive measurements</button>
      </form>

      <div id="measurements" class="pt-4"></div>
    </main>
  </body>
</html>

