<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eco Station: Connected Stations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/output.css">
    <script src="/htmx.min.js"></script>
  </head>
  <body>
    <header class="p-4 bg-blue-400 flex justify-between">
      <div class="space-x-3">
        <a href="/protected/home.html" class="font-semibold text-xl">Eco Station</a>
        <a href="/protected/home.html" class="p-2 border border-gray-200 rounded-md">Queries</a>
        <a href="/protected/connected-stations.html" class="p-2 border border-gray-200 rounded-md">List of connected stations</a>
        <a href="/protected/station-measured.html" class="p-2 border border-gray-200 rounded-md bg-blue-500">Measured from a station</a>
      </div>
      <button class="font-medium text-lg" hx-get="/api/signout">Sign Out</button>
    </header>
    <main class="p-4">
      <h2 class="text-lg font-medium inline">Measured from a station</h2>
      // todo: available stations
      <div class="pt-4" hx-get="/api/available-stations" hx-trigger="load">
      </div>
      options
    </main>
  </body>
</html>

